.calculator {
    height: 420px;
    width: 305px;
    border-radius: 5px;
    /*overflow: hidden;*/
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: 90px 55px 55px 55px 55px 55px ;

}